@charset "UTF-8";

.input-form{
	background-color: #e8f8ff;
	height: 30%;
	width: 20%;
	position: sticky;
}

.login-box{
	margin: 10px 10px 10px 10px;
}

#login-button{
	border-radius: 3px;
	background: linear-gradient(white, #e8f8ff);
}